<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tasks", media: "all" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <h1>Task Manager</h1>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <p>&copy; 2024 Task Manager. All rights reserved.</p>
    </footer>
  </body>
</html>
